.Superpanel_scetion {
  width: 30% !important;
  margin-top: 3rem !important;
  margin-right: 3rem;
}
.Badrun {
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}

.site-layout1 {
  padding: 15px 2rem;
  background: #eff5fe !important;
  width: 100% !important;
}
